/*
File name: App.css
Student's Name: Manjula Gunaratne
Student ID: 300459860
Date: September 25, 2025
*/

/* Entire page background colour */
body {
  background-color: black;
} 

/* Main container for the entire app */
#root {
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Header makes space for the Navigation bar on top */
.header {
  height: 50px;
}

/* Content body choices */
.content {
  flex: 1;  /* take up all available space */
  min-height: 500px;
  background-image: url('/images/pattern.jpg');
  background-repeat: repeat;
}

/* Changed navigation bar padding */
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

/* Removed Container column padding */
.no-gutters > .col {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.table td,
.table th {
  background-color: transparent !important;
  font-size: 1.2em;
}