/*
File name: App.css
Student's Name: Manjula Gunaratne
Student ID: 300459860
Date: September 25, 2025
*/

body {
  background-color: black;
} 

#root {
  /* max-width: 1280px; */
  width: 80%;
  height: auto;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
  background-color: red;
}

.content {
  flex: 1;  /* take up all available space */
  min-height: 500px;
  background-color: yellow;
}

/* .footer {
  height: 30px;
  background-color: blue;
} */

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.no-gutters > .col {
  padding-right: 0 !important;
  padding-left: 0 !important;
}